<%= form_for(@rast) do |f| %>
  <% if @rast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rast.errors.count, "error") %> prohibited this rast from being saved:</h2>

      <ul>
      <% @rast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :page %><br>
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :access %><br>
    <%= f.text_field :access %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
